/* GLOBAL STYLES */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f2f2f2;
    
}

@font-face {
    font-family:'digital-clock-font';
    src: url('Assets/digital-7.ttf');
}

button {
    font-size:46px;
    background-color: #6E7271;
    border-radius: 10%;
    font-family:'Orbitron', serif;
    transition: background-color 0.2s ease, box-shadow 0.2s ease; /* Add this line */
}

button:active {
    background-color: #5a5a5a; /* Darker shade when button is pressed */
    box-shadow: inset 0px 0px 5px #000; /* Inner shadow to create depth */
}

/* MAIN FRAME */
.frame {
    width: 600px;
    height: 800px;
    border: 4px solid #353535;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #353535;
    border-radius: 2%;
}

/* DISPLAY */
.display-screen {
    width: 564px;
    height:200px;
    border:4px solid #BBC5AC;
    border-radius:5%;
    background-color: #BBC5AC;
    display:flex;
    justify-content: flex-end;
    align-items: center;
}

.digits {
    font-family:'digital-clock-font', serif;
    font-size:160px;
    color: #353535;
}

/* KEYPAD ELEMENTS */
.keypad {
    padding-top:11px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap:17px;
}

.number, .operator {
    width:130px;
    height:80px;
}

#zero {
    width:277px;
}

/* COLORING KEYPADS */
.operator {
    background-color: #4a4c4c;
}
.operator:active {
    background-color: #373737; /* Darker shade when button is pressed */
    box-shadow: inset 0px 0px 5px #000; /* Inner shadow to create depth */
}

#clear {
    background-color: #d7201d;
}
#clear:active {
    background-color: #a31614; /* Darker shade when button is pressed */
    box-shadow: inset 0px 0px 5px #000; /* Inner shadow to create depth */
}

/* CREDITS */
.credits {
    color: #BBC5AC;
    font-size: 35px;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-content: start;
    text-decoration: none;
    font-family:'VT323', serif
}